body {
  font-family: Arial, sans-serif;
  background-color: #c9f1d8;
}

h1 {
  color: #267143;
}


h2 {
  color: rgb(0, 0, 0);
}

a{
    font-family: Arial, sans-serif;
    color:#1c5933;
}